<div class="super-container">
    <main class="main-container">
        <section class="contact-section">
            <div class="titulo-sub-container">
                <h1 class="section-title">Contacto</h1>
                <div class="section-subtitle">
                    Completa el formulario para poder contactarte con nosotros
                </div>
            </div>
            <div class="contact-container">
                <div class="contact-form">
                    <h2 class="contact-form-title">Formulario contacto</h2>
                    <form class='form-contact'>
                        <div class="input-group">
                            <label for="fullname" class="input-label">
                                Nombre Completo:
                            </label>
                            <input type="text" name="fullname" id="fullname" required minLength="4" maxLength="80"
                                autoFocus="" placeholder='Juan Doe' />
                        </div>
                        <div class="input-group">
                            <label for="mail" class="input-label">
                                Mail:
                            </label>
                            <input type="email" name="mail" id="mail" required minLength="10" maxLength="100"
                                placeholder="ejemplo@correo.com"
                                pattern="[A-Za-z0-9._+\-']+@[A-Za-z0-9.\-]+\.[A-Za-z]{2,}$" />
                        </div>
                        <div class="input-group">
                            <label for="comentario" class="input-label">
                                Deja tu comentario:
                            </label>
                            <textarea name="comentario" id="comentario" placeholder="Escriba su comentario aquí"
                                maxLength="150"></textarea>
                        </div>
                        <div class="input-group-boton">
                            <button type="submit">Enviar</button>
                        </div>
                    </form>
                </div>
                <div class="contact-map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.5389589178913!2d-58.38151502425923!3d-34.61581807294998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccad63da4ce27%3A0xfe5fa674225a91bf!2sTacuar%C3%AD%20655%2C%20C1071AAM%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1716784919987!5m2!1ses-419!2sar"
                        width="100%"
                        height="100%" 
                        
                        allowFullScreen="" 
                        loading="lazy"
                        referrerPolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </section>
    </main>
</div>