

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    line-height: 1.5;
}
.prod-detail-main {
    background-image: linear-gradient(
    155deg,
    hsl(301deg 48% 47%) 0%,
    hsl(335deg 83% 59%) 6%,
    hsl(3deg 100% 68%) 14%,
    hsl(29deg 100% 62%) 26%,
    hsl(51deg 77% 57%) 41%,
    hsl(89deg 89% 70%) 55%,
    hsl(160deg 100% 43%) 67%,
    hsl(180deg 100% 36%) 77%,
    hsl(198deg 100% 41%) 86%,
    hsl(210deg 100% 39%) 93%,
    hsl(228deg 73% 34%) 100%
    );
    padding-bottom: 2rem;
}
.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
    background-color: transparent;
}
.card {
    display: flex;
    /* background-color: #256eff; */
    width: 90%;
    height: auto;
    contain: content;
    border: 5px solid gray;
    border-radius: 15px;
    margin: 0 auto;
    background-color: #25252575;

    .product-imgs{
        display: flex;
        align-items: center;
        justify-content: center;
        contain: content;
        margin: 0 auto;
        
    }
    .img-item {
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: contain;
        margin: 0 auto;
        border: 5px solid gray;
        border-radius: 15px;
        margin: 0.5rem;
        object-fit: contain;
        contain: content;
        background-color: #256eff;

        img{
        width: 500px;
        height: 500px;
        display: flex;
        aspect-ratio: 1;
        }
    }
}






.product-content{
    background-color: #256eff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    float: left;
    contain: content;
    border: 5px solid gray;
    border-radius: 15px;
    margin: 0 auto;
    margin: 1.1rem 0.5rem;
    width: auto;
    /* height: 90%; */
    height: auto;
    align-items: center;
    /* justify-items: flex-start; */
}
.product-title{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
    text-align: center;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    margin-top: 0.25rem;
    bottom: 0;
    height: 5px;
    width: 100%;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    /* background: #256eff; */
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #54ff25;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.25rem;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}
.product-detail p{
    font-size: 1rem;
    font-weight: 500;
    padding: 0.3rem;
    opacity: 0.8;
    color: white;
    text-align: center;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}

.purchase-info .btn{
    display: inline-flex;
    border: 1.5px solid #ddd;
    border-radius: 15px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
}
.purchase-info input{
    width: 60px;
    height: 40px;
    text-align: center;
    border: 1.5px solid #ddd;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}


.purchase-info .button_plus_minus .shop-cart {
    display: flex;
    align-items: center;
    margin: 0;
    border: 1.5px solid #ddd;
    border-radius: 15px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
}

.button_plus_minus .btn_plus_minus, input {
    display: inline;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.btn {
    margin-left: 0.5rem;
    background-color: rgb(4, 23, 90);
}

.button_plus_minus {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* gap: 0.5rem; */

    .btn_plus_minus {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(4, 23, 90);
        color: white;
        height: 40px;
        width: 40px;
        /* border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px; */

    }
}

.plus{
    border-radius: 15px 0 0 15px;
    border: 1px solid lightblue;
}

.minus {
    border-radius: 0 15px 15px 0;
    border: 1px solid lightblue;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    background-color: antiquewhite;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
        margin: 0;
    }
}